<div id="page--user-login" class="w-100 h-100 bg-light">
  {% if page.header %}
    {{ page.header }}
  {% endif %}

  <div class="container mx-auto h-100 relative overflow-hidden">
    <div id="user--login" class="p-10 md:p-20 xl:p-40 mt-20 md:mt-40 lg:mt-60 xl:mt-100 shadow-xl">
      {{ page.content }}
    </div>
  </div>
</div>
