@use "sass:map";

$position: (
  'l': left,
  'r': right,
  't': top,
  'b': bottom,
);

$positon-shorthand: map-merge(
  $position,
  (
    'x': top bottom,
    'y': left right,
  )
);

$position-combination: (
  'tl': top-left,
  'tr': top-right,
  'bl': bottom-left,
  'br': bottom-right,
  'l': top-left bottom-left,
  'r': top-right bottom-right,
  't': top-left top-right,
  'b': bottom-left bottom-right,
);
